body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #e9a20a;
  --color-secondary: #e9a20a33;
  --color-label: #ddd;
  --color-input-bg: #44444444;
  --color-input-text: #ddd;
  --color-controlpanel-bg: #333;
  --color-controlpanel-bgo: #33333399;
}
